<ion-header>
  <ion-navbar>
    <ion-title>
      Brasileirão 2017
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content>

          <ion-col col-12>
            <ion-label>Jogos da Rodada</ion-label>
          </ion-col>

          <ion-row>

            <ion-col>
              <ion-item>
                <ion-label>Rodada</ion-label>              
                <ion-select (ionChange)="carregarJogosRodada($event)" [(ngModel)]="rodada">
                  <ion-option *ngFor="let rodadaEmAndamento of dadosRodada" value="{{rodadaEmAndamento.rodada_id}}">
                    {{rodadaEmAndamento.rodada_id}}
                  </ion-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col>
             <ion-item>
              <ion-label color="dark">Início: {{dadosRodada && dadosRodada[rodada-1] && dadosRodada[rodada-1].inicio | date: 'dd/MM/yyyy HH:mm' }}</ion-label>
            </ion-item>
          </ion-col>

          <ion-col>
           <ion-item>
            <ion-label color="dark">Fim:  {{dadosRodada && dadosRodada[rodada-1] && dadosRodada[rodada-1].fim | date: 'dd/MM/yyyy HH:mm' }}</ion-label>
          </ion-item>
        </ion-col>


      </ion-row>


    </ion-card-content>
  </ion-card>
</ion-row>

<ion-row *ngFor="let partida of dados.partidas">
  <ion-card>
    <ion-card-content>


     <ion-row>
      <ion-col>
       <ion-item>
        <ion-label color="dark">
        {{dados.clubes[partida.clube_casa_id].abreviacao}}
        </ion-label>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-input type="number" placeholder="{{partida.placar_oficial_mandante}}" disabled="{{bloqueado}}"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col> <ion-label>X</ion-label> </ion-col>

    <ion-col>
      <ion-item>
        <ion-input type="number" placeholder="{{partida.placar_oficial_visitante}}" disabled="{{bloqueado}}"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col>
     <ion-item>
      <ion-label color="dark">{{dados.clubes[partida.clube_visitante_id].abreviacao}}</ion-label>
    </ion-item>
  </ion-col>

</ion-row>



</ion-card-content>
</ion-card>
</ion-row>

</ion-grid>

</ion-content>
